<!DOCTYPE html>
<html>
<head>
	<title>Pagina di benvenuto</title>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta charset="utf-8"/>
</head>

<body>
	<form action="../invia" method ="post">
	  First name: <input type="text" name="nome"><br>
	  Last name: <input type="text" name="cognome"><br>
	  <input type="submit" value="Submit">
	</form>
</body>
</html>
